

.App {
  text-align: center;
height: 100vh;
}

body{
  font-family: "Lato",sans-serif;
  /*padding: 20px;*/
  position: relative;

}

.login{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/iceage.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}
.form{
  max-width: 600px;
  align-content: center;
  position: absolute;
  top: 30%;
  left: 40%;

  margin:auto;
}
.SignUp{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/Ice-Age-Scrat-Wallpaper-2.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}
.signUpLink{
  position: absolute;
  top:40px;
  right: 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: x-large;
}
.CreateMeal{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/10944.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}
.adminView{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/ice6.jpg);
  background-size: cover;
  background-position:center;
}
.viewMeals{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/ice7.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}
.viewAllUsers{
  height: 100vh;
}

.Login-button{
  size: 150px;
}
.view{
  align-content: center;
  text-transform: capitalize;
  transform: translate();
  justify-content: center;
  margin-top: -19px;
}
