

.App {
  text-align: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body{
  font-family: "Lato",sans-serif;
  /*padding: 20px;*/
  position: relative;

}

.login{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/iceage.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}
.form{
  max-width: 600px;
  align-content: center;
  position: absolute;
  top: 30%;
  left: 40%;

  margin:auto;
}
.SignUp{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/Ice-Age-Scrat-Wallpaper-2.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}

.CreateMeal{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(70, 130, 180, 0.72), rgba(0, 0, 0, 0.5)),url(../img/10944.jpg);
  background-size: cover;
  background-position:top  ;
  position: relative;
}
.adminView{
  position: absolute;
  height: 100vh;
}

.Footer{
  height: 21vh;
 text-transform: none;
  margin-top: 70px;

}
.viewMeals{
  position: relative;
  height: 100vh;
  margin:0%;

}

.viewAllUsers{
  height: 100vh;
  position: relative;
  margin:auto;
}

.User-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.edit-user{
  flex: 0 0 20%;
}

